<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{- partial "head.html" . -}}
</head>
<body class="kind-{{ .Kind }} type-{{ .Type }}">
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
</body>
</html>