{{ define "main" }}
<main>
{{ range .Paginator.Pages }}
    <div class="issue block">
        <a class="issue link" href="{{ .Permalink }}">
            <img data-ideal-src="{issue.link}post.jpg" src="https://placebear.com/g/154/192.jpg" />
            <span class="issue name">Issue {{ .Params.Issue }}: {{ .Title }}</a>
        </a>
    </div>
{{ end }}{{/* range .Paginator.Pages */}}
</main>
{{ end }}{{/* define "main" */}}