{{ define "main" }}

<header class="site header">
    <div class="site titlewrap">
        <h1 class="site title">
            <span class="block">This</span>
            <span class="block">Is</span>
            <span class="block"></span>
            <span class="block">Where</span>
            <span class="block">I</span>
            <span class="block">Belong*</span>
        </h1>
    </div>
    <div class="site subheader">
        <h2 class="site subtitle block">A quarterly zine. A quarterly call.</h2>
        <div class="site blurb block smol" style="justify-content: flex-start">
            {{ .Content }}
<!--p>Hi there! Thanks for coming. I’m going to try to be brief.</p>
<p>The next issue of TINWIB* will be called</p>
<p>In Short: Belong!</p>
<p>And will be somewhat of an experimental issue.</p>
<p>We’re asking that all poems submitted should be no longer than 20 lines long</p>
<p>And that all prose submitted should not exceed 500 words.</p>
<p>The deadline will be May 7th 2021 and the issue will be released on May 31st 2021,
   and distributed mainly by mail, in line with the new normal.</p-->
	</div>
        <div class="call for submissions block smol">
		<p>The email address for submissions or queries is <a title="Call for Submissions" href="mailto:nobelong9999@gmail.com">nobelong9999@gmail.com</a></p>
        {{ if .Params.Email_Blurb }}{{ .Params.Email_Blurb | markdownify }}{{ end }}
<!--p>Thanks for reading and for continuing to make this project what it is.</p>
<p>For the sake of those of you playing along at home this call for submissions is 123 words</p-->
        </div>
    </div>
</header>

<main></main>

{{ end }}
