{{ define "main" }}

<header class="site header">
    <div class="site titlewrap">
        <h1 class="site title">
            <span class="block">This</span>
            <span class="block">Is</span>
            <span class="block"></span>
            <span class="block">Where</span>
            <span class="block">I</span>
            <span class="block">Belong*</span>
        </h1>
    </div>
    <div class="site subheader">
        <h2 class="site subtitle block">A quarterly zine. A quarterly call.</h2>
        <div class="site blurb block smol" style="justify-content: flex-start">
            {{ .Content }}
	</div>
        <div class="call for submissions block smol">
		<p>The email address for submissions or queries is <a title="Call for Submissions" href="mailto:nobelong9999@gmail.com">nobelong9999@gmail.com</a></p>
        {{ if .Params.Email_Blurb }}{{ .Params.Email_Blurb | markdownify }}{{ end }}
        </div>
    </div>
</header>

<main></main>

{{ end }}
