:root {
  --font-primary: "Mulish", sans-serif;
  --h1: 64px;
  --h1-lg: 52px;
  --h1-md: 42px;
  --h2: 38px;
  --h2-md: 30px;
  --h3: 30px;
  --h3-md: 24px;
  --h4: 24px;
  --h5: 18px;
  --h6: 16px;

  --white: #fff;
  --black: #000;
  --dark: #152035;
  --gray: #747577;
  --light: #fafafa;
  --color-primary: #01ad9f;
  --color-primary-darker: #019488;
}

h1,
.h1 {
  font-size: var(--h1);
}
h2,
.h2 {
  font-size: var(--h2);
}
h3,
.h3 {
  font-size: var(--h3);
}
h4,
.h4 {
  font-size: var(--h4);
}
h5,
.h5 {
  font-size: var(--h5);
}
h6,
.h6 {
  font-size: var(--h6);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.3;
}
a:focus,
button:focus {
  outline: 0;
}
a {
  color: var(--gray);
  transition: all 0.3s;
}
a:hover {
  text-decoration: none;
  color: var(--color-primary);
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

img {
  max-width: 90%;
}

body {
  color: var(--gray);
  background-color: var(--white);
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.65;
  font-size: 17px;
}

::selection {
  color: var(--white);
  background-color: var(--color-primary-darker);
  text-shadow: none;
}

:focus {
  outline: 0;
}

mark {
  padding: 0 5px 4px;
  background-color: rgba(var(--color-primary), 0.1);
}

textarea {
  resize: none;
}

footer {
  background-color: var(--dark);
}

p {
  margin-bottom: 16px;
}

img {
  margin-bottom: 30px;
  border-radius: 10px !important;
  overflow: hidden;
}

h2,
h3,
h4 {
  color: var(--dark);
  margin-bottom: 20px;
  font-weight: 700;
}

h3 {
  margin-top: 40px;
}

ol,
ul {
  margin-bottom: 25px;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

img {
  margin-top: 10px;
  margin-bottom: 35px;
}

blockquote {
  padding: 20px 30px;
  border-left: 6px solid var(--color-primary);
  color: var(--dark);
  font-weight: 700;
  font-size: 22px;
  margin: 30px 0;
  border-radius: 5px;
}
blockquote p {
  margin-bottom: 0;
}
