
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{- with .Title | default .Site.Title }}
    <title>{{ . }}</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}

{{- with .Description | default .Params.subtitle | default .Summary }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}">
{{- end }}

{{- with .Site.Params.favicon }}
    <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}

{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}

    <meta name="twitter:card" content="summary" />
{{- with .Site.Author.twitter }}
    <meta name="twitter:site" content="@{{ . }}" />
    <meta name="twitter:creator" content="@{{ . }}" />
{{- end }}

    <meta property="og:url" content="{{ .Permalink | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    <link rel="canonical" href="{{ .Permalink | absLangURL }}" />
    <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}" />
  