{{ define "main" }}
<header class="site header">
    <div class="site titlewrap">
        <h1 class="site title">
            <span class="block">This</span>
            <span class="block">Is</span>
            <span class="block">Not</span>
            <span class="block">Where</span>
            <span class="block">I</span>
            <span class="block">Belong*</span>
        </h1>
    </div>
    <div class="site subheader">
        <h2 class="site subtitle block">A quarterly zine. A quarterly concert.</h2>
        <div class="site blurb block">
            <p>Not fitting in. A malady that has affected mankind since 2012, and
                probably before that too.</p>
            <p>This Is Not Where I Belong* simultaneously staves off and encourages
                this affliction. We realise a printed zine every 3 months, and
                celebrate the arrival of each new edition with a live concert.</p>
        </div>
        <div class="call for submissions block">
            <a title="Call for Submissions" href="/call-for-submissions">
                Call for Submissions
            </a>
        </div>
    </div>
</header>
<main>
{{ range (.Paginate (where .Pages "Type" "issue")).Pages }}
{{ range .Paginator.Pages }}
    <div class="issue block">
        <a class="issue link" href="{{ .Permalink }}">
            <img data-ideal-src="{issue.link}post.jpg" src="https://placebear.com/g/154/192.jpg" />
            <span class="issue name">Issue {{ .Params.Issue }}: {{ .Title }}</a>
        </a>
    </div>
{{ end }}
{{ end }}{{/* range .Paginate.Pages */}}
</main>
{{ end }}{{/* define "main" */}}
