@import 'https://fonts.googleapis.com/css?family=Lato:700,900';
html {
    font-family: 'Lato', sans-serif;
    color: #333;
}
a {
    color: rgba(20, 140, 20, 1);
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    color: rgba(20, 140, 20, .8);
    font-weight: 900;
}
h1 {
    font-size: 5em;
}
ul {
    list-style: none;
}
img {
    max-height: 25vh;
    max-width: 80vw;
}
figure {
    padding: 20px;
}
blockquote {
    font-style: italic;
}
blockquote cite {
    display: block;
    font-weight: bold;
  /*  margin: 0 0 -36px 0;*/
}
/*blockquote::before {
	content: open-quote;
	float: left;
font-size: 4em;
opacity: .3;
}
blockquote::after {
	content: close-quote;
	float: right;
font-size: 4em;
opacity: .4;
margin: 0 -6px 0 0;
}*/

.site.title {
    margin: 60px;
}
.site.subtitle {
    color: #333;
    text-transform: lowercase;
}
.site.subtitle,
.site.blurb,
.call.for.submissions,
main .block {
    font-size: 16px;
    font-weight: 400;
    /*max-height: 33vh;*/
    max-width: 46vh;
    margin: 60px;
}
main .block a {
    max-height: 30vh;
    max-width: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .block a img {
    display: block;
    margin: 20px 0;
}
@media screen and (min-width: 1280px) {
    img {
        max-width: 80%;
	max-height: 80%;
    }
    .site.titlewrap {
        position: fixed;
        width: 100%;
        pointer-events: none;
        z-index: -1;
    }
    .site.title .block,
    .site.subtitle,
    .site.blurb,
    .call.for.submissions,
    main .block {
        height: 33vh;
        width: 46vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* fit more text for call-to-submissions only */
    .smol.call.for.submissions {
	font-size: 14px;
    }
    .smol li {
	display: inline;
    }
    .smol li:after {
	    content: ', ';
    }
    .smol.site.blurb {
        transform: scale(1.5);
        font-size: 10px;
    }
    .site.title .block {
        line-height: 100px;
        text-align: center;
    }
    .site.title .block:nth-child(2) {
        align-items: flex-start;
        text-indent: .8em;
    }
    .site.title .block:nth-child(3) {
        justify-content: flex-start;
        align-items: flex-end;
    }
    .site.title .block:nth-child(4) {
        justify-content: flex-end;
    }
    .site.title .block:nth-child(5) {
        justify-content: flex-start;
    }

    /**
     * THE GRID!
     */
    .type-page .site.title,
    .type-page .site.subheader,
    .type-page main,
    .type-call-for-submissions .site.title,
    .type-call-for-submissions .site-subhheader,
    .type-call-for-submissions main {
        width: 138vh;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            'one two three'
            'four five six'
            'seven eight nine'
            'ten eleven twelve'
            'thirteen fourteen fifteen'
            'sixteen seventeen eighteen'
            'nineteen twenty twentyone'
            'twentytwo twentythree twentyfour'
            'twentyfive twentysix twentyseven'
            'twentyeight twentynine thirty'
            'thirtyone thirtytwo thirtythree'
            'thirtyfour thirtyfive thirtysix'
            'thirtyseven thirtyeight thirtynine'
            'forty fortyone fortytwo'
            'fortythree fortyfour fortyfive'
            'fortysix fortyseven fortyeight'
            'fortynine fifty fiftyone'
            'fiftytwo fiftythree fiftyfour'

            'fifyfive fiftysix fiftyseven'
            'fiftyeight fiftynine sixty'
            'sixtyone sixtytwo sixtythree'
            'sixtyfour sixtyfive sixtysix'
            'sixtyseven sixtyeight sixtynine'
            'seventy seventyone seventytwo'
            'seventythree seventyfour seventyfive'
            'seventysix seventyseven seventyeight'
            'seventynine eighty eightyone'
            'eightytwo eightythree eightyfour'
            'eightyfive eightysix eightyseven'
            'eightyeight eightynine ninety'
            ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .type-page .site.title .block:first-child { grid-area: one; }
    .type-page .site.title .block:nth-child(2) { grid-area: three; }
    .type-page .site.title .block:nth-child(3) { grid-area: five; }
    .type-page .site.title .block:nth-child(4) { grid-area: six; }
    .type-page .site.title .block:nth-child(5) { grid-area: seven; }
    .type-page .site.title .block:nth-child(6) { grid-area: eight; }

    .type-page .site.subtitle.block { grid-area: two; }
    .type-page .site.blurb.block { grid-area: four; }
    .type-page .call.for.submissions.block { grid-area: nine; }

    .type-page .site.title .block:first-child { grid-area: one; }
    .type-page .site.title .block:nth-child(2) { grid-area: three; }
    .type-page .site.title .block:nth-child(3) { grid-area: five; }
    .type-page .site.title .block:nth-child(4) { grid-area: six; }
    .type-page .site.title .block:nth-child(5) { grid-area: seven; }
    .type-page .site.title .block:nth-child(6) { grid-area: eight; }

    .type-page main .block:first-child { grid-area: two; }
    .type-page main .block:nth-child(2) { grid-area: four; }
    .type-page main .block:nth-child(3) { grid-area: nine; }
    .type-page main .block:nth-child(4) { grid-area: eleven; }
    .type-page main .block:nth-child(5) { grid-area: thirteen; }
    .type-page main .block:nth-child(6) { grid-area: eighteen; }
    .type-page main .block:nth-child(7) { grid-area: twenty; }
    .type-page main .block:nth-child(8) { grid-area: twentytwo; }
    .type-page main .block:nth-child(9) { grid-area: twentyseven; }
    .type-page main .block:nth-child(10) { grid-area: twentynine; }
    .type-page main .block:nth-child(11) { grid-area: thirtyone; }
    .type-page main .block:nth-child(12) { grid-area: thirtysix; }
    .type-page main .block:nth-child(13) { grid-area: thirtyeight; }
    .type-page main .block:nth-child(14) { grid-area: forty; }
    .type-page main .block:nth-child(15) { grid-area: fortyfive; }
    .type-page main .block:nth-child(16) { grid-area: fortyseven; }
    .type-page main .block:nth-child(17) { grid-area: fortynine; }
    .type-page main .block:nth-child(18) { grid-area: fiftyfour; }
    .type-page main .block:nth-child(19) { grid-area: fiftysix; }
    .type-page main .block:nth-child(20) { grid-area: fiftyeight; }
    .type-page main .block:nth-child(21) { grid-area: sixtythree; }
    .type-page main .block:nth-child(22) { grid-area: sixtyfive; }
    .type-page main .block:nth-child(23) { grid-area: sixtyseven; }
    .type-page main .block:nth-child(24) { grid-area: seventytwo; }
    .type-page main .block:nth-child(25) { grid-area: seventyfour; }
    .type-page main .block:nth-child(26) { grid-area: seventysix; }
    .type-page main .block:nth-child(27) { grid-area: eightyone; }
    .type-page main .block:nth-child(28) { grid-area: eightythree; }
    .type-page main .block:nth-child(29) { grid-area: eightyfive; }
    .type-page main .block:nth-child(30) { grid-area: ninety; }


    .type-call-for-submissions .site.title .block:first-child { grid-area: one; }
    .type-call-for-submissions .site.title .block:nth-child(2) { grid-area: three; }
    .type-call-for-submissions .site.title .block:nth-child(3) { grid-area: five; }
    .type-call-for-submissions .site.title .block:nth-child(4) { grid-area: six; }
    .type-call-for-submissions .site.title .block:nth-child(5) { grid-area: seven; }
    .type-call-for-submissions .site.title .block:nth-child(6) { grid-area: eight; }

    .type-call-for-submissions .site.subtitle.block { grid-area: two; }
    .type-call-for-submissions .site.blurb.block { grid-area: four; }
    .type-call-for-submissions .call.for.submissions.block { grid-area: nine; }

    .type-call-for-submissions .site.title .block:first-child { grid-area: one; }
    .type-call-for-submissions .site.title .block:nth-child(2) { grid-area: three; }
    .type-call-for-submissions .site.title .block:nth-child(3) { grid-area: five; }
    .type-call-for-submissions .site.title .block:nth-child(4) { grid-area: six; }
    .type-call-for-submissions .site.title .block:nth-child(5) { grid-area: seven; }
    .type-call-for-submissions .site.title .block:nth-child(6) { grid-area: eight; }

    .type-call-for-submissions main .block:first-child { grid-area: two; }
    .type-call-for-submissions main .block:nth-child(2) { grid-area: four; }
    .type-call-for-submissions main .block:nth-child(3) { grid-area: nine; }
    .type-call-for-submissions main .block:nth-child(4) { grid-area: eleven; }
    .type-call-for-submissions main .block:nth-child(5) { grid-area: thirteen; }
    .type-call-for-submissions main .block:nth-child(6) { grid-area: eighteen; }
    .type-call-for-submissions main .block:nth-child(7) { grid-area: twenty; }
    .type-call-for-submissions main .block:nth-child(8) { grid-area: twentytwo; }
    .type-call-for-submissions main .block:nth-child(9) { grid-area: twentyseven; }
    .type-call-for-submissions main .block:nth-child(10) { grid-area: twentynine; }
    .type-call-for-submissions main .block:nth-child(11) { grid-area: thirtyone; }
    .type-call-for-submissions main .block:nth-child(12) { grid-area: thirtysix; }
    .type-call-for-submissions main .block:nth-child(13) { grid-area: thirtyeight; }
    .type-call-for-submissions main .block:nth-child(14) { grid-area: forty; }
    .type-call-for-submissions main .block:nth-child(15) { grid-area: fortyfive; }
    .type-call-for-submissions main .block:nth-child(16) { grid-area: fortyseven; }
    .type-call-for-submissions main .block:nth-child(17) { grid-area: fortynine; }
    .type-call-for-submissions main .block:nth-child(18) { grid-area: fiftyfour; }
    .type-call-for-submissions main .block:nth-child(19) { grid-area: fiftysix; }
    .type-call-for-submissions main .block:nth-child(20) { grid-area: fiftyeight; }
    .type-call-for-submissions main .block:nth-child(21) { grid-area: sixtythree; }
    .type-call-for-submissions main .block:nth-child(22) { grid-area: sixtyfive; }
    .type-call-for-submissions main .block:nth-child(23) { grid-area: sixtyseven; }
    .type-call-for-submissions main .block:nth-child(24) { grid-area: seventytwo; }
    .type-call-for-submissions main .block:nth-child(25) { grid-area: seventyfour; }
    .type-call-for-submissions main .block:nth-child(26) { grid-area: seventysix; }
    .type-call-for-submissions main .block:nth-child(27) { grid-area: eightyone; }
    .type-call-for-submissions main .block:nth-child(28) { grid-area: eightythree; }
    .type-call-for-submissions main .block:nth-child(29) { grid-area: eightyfive; }
    .type-call-for-submissions main .block:nth-child(30) { grid-area: ninety; }

    /*
    2,4,9,
    11,13,18,
    20,22,27,
    29,31,36,
    38,40,45,
    47,49,54,
    56,58,63,
    65,67,72,
    74,76,81,
    83,85,90
    */
}
