{{ define "main" }}

<main class="main-content">
    <h2 id="issue-title">Issue {{ .Params.Issue }}: {{ .Title }}</h2>

    {{ if .Params.Image }}
    <figure><img
        alt="Issue {{ .Params.Issue }}: {{ .Title }}"
        width="154"
        height="192"
        src="{{ .Params.Image }}" /></figure>
    {{ end }}

    <h3 id="zine">Zine</h2>

        <div class="issue-blurb">{{ .Content }}</div>

<ul>
    {{ if .Params.Editor }}<li>Edited by {{ delimit .Params.Editor ", " " and " }}</li>{{ end }}
    {{ if .Params.Layout }}<li>Layout by {{ delimit .Params.Layout ", " " and " }}</li>{{ end }}
    {{ if .Params.Printer }}
        <li>
        {{ if .Params.Binder }}
            Printed and bound by {{ delimit (uniq (.Params.Printer | append .Params.Binder)) ", " " and " }}
        {{ else if .Params.Folder }}
            Printed and folded by {{ delimit (uniq (.Params.Printer | append .Params.Folder)) ", " " and " }}
        {{ else }}
            Printed by {{ delimit .Params.Printer ", " " and " }}
        {{ end }}
        </li>
    {{ end }}
    {{ if .Params.Circulation }}<li>Limited edition of {{ .Params.Circulation }}</li>{{ end }}
    {{ if .Params.Size }}<li>{{ .Params.Size }}</li>{{ end }}
    {{ if .Params.Pages }}<li>{{ .Params.Page }}</li>{{ end }}
    {{ if .Params.Inside }}<li>Inside: {{ .Params.Inside }}</li>{{ end }}
    {{ if .Params.Cover }}<li>Cover: {{ .Params.Cover }}</li>{{ end }}
    {{ if .Params.Binding }}<li>Binding: {{ .Params.Binding }}</li>{{ end }}
</ul>

{{ if .Params.Contributors }}
    <h2 id="contributors">Contributors</h2>

    <ul>
    {{ range .Params.Contributors }}<li>{{ . }}</li>{{ end }}
    </ul>
{{ end }}

{{ if .Params.Venue }}
    <h3 id="concert">Concert</h3>
    <div class="highlighter-rouge">
        <address>{{ .Params.Venue }}</address>
    </div>
{{ end }}

{{ if .Params.Acts }}
    <h3 id="acts">Acts</h3>
    <ul>
        {{ range .Params.Acts }}<li>{{ . }}</li>{{ end }}
    </ul>
{{ end }}

</main>

{{ end }}
